<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the Basqar Water
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">Login to Basqar Water</div>
            <mat-error *ngIf="authenticationError">
                Username or password is not valid !        
            </mat-error>
    
            <form name="loginForm" [formGroup]="loginForm" novalidate  (ngSubmit)="onSubmit()" >

                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('username').hasError('required') &&
                                loginForm.get('username').hasError('username')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me" formControlName="rememberMe">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>
        </div>
    </div>
</div>