# See http://help.github.com/ignore-files/ for more about ignoring files.
node_modules
platforms
hooks
tags
**/*.js.map
**/*.metadata.json

/**/*.d.ts
/**/*.js

!/global.d.ts
!/postinstall.js
!/hooks/**/*.js
!/gulpfile.js
!/zone-js/dist/*.js

.tscache
.nvm
.vscode
.DS_Store
npm-debug.log
nativescript-angular*.tgz
package-lock.json

# Apps' JS files
src/**/*.js

# Webpack configuration files
tsconfig.esm.json

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# NativeScript
/hooks
/platforms

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# temporary
/src/app/constants/urls.ts
