<ng-container>
    <ng-template [ngTemplateOutlet]="mobilButtons"></ng-template>
    <!--
    <mat-toolbar fxShow fxHide.gt-sm class="toolbar-mobil mat-fuse-dark-700-bg">
        <ng-template [ngTemplateOutlet]="mobilButtons"></ng-template>
        <mat-toolbar-row>
            <button mat-fab color="primary" (click)="doBack($event)">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="toolbar-spacer"></span>
            <ng-template [ngTemplateOutlet]="mobilButtons"></ng-template>
        </mat-toolbar-row>
    </mat-toolbar>
        -->
</ng-container>

<ng-container>
    <div fxHide fxShow.gt-sm fxLayout="colum" class="toolbar" fxLayoutGap="10px">
        <div fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <ng-template [ngTemplateOutlet]="normalButtons"></ng-template>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
            <ng-template [ngTemplateOutlet]="dangerButtons"></ng-template>
        </div>
    </div>
</ng-container>