<mat-card fxLayout="column" fxLayoutGap="8px" class="example-container" fxFlexFill>
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="flex-end" fxLayoutGap="8px" class="search-container">
        <mat-form-field class="control-full-margin">
            <input matInput [(ngModel)]="searchDTO.name" placeholder="{{ 'GENERAL.FIELD.NAME' | translate }}" (keydown.enter)="doSearch()">
        </mat-form-field>
        <div class="control-full" style="padding-top: 16px; margin-bottom: 16px;" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="doSearch()">{{ 'GENERAL.BUTTON.SEARCH' | translate }}</button>
        </div>
    </div>
    <mat-card class="example-full-width full-size example-container-grid mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortDisableClear>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{ 'GENERAL.FIELD.NUMERO' | translate }}</th>
                <td mat-cell *matCellDef="let row; let i = index">{{paginator.pageSize * paginator.pageIndex + i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERAL.FIELD.NAME' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'USER.FIELD.EMAIL' | translate }}</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{row.email}}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'GENERAL.FIELD.PHONE' | translate }}</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{row.phone}}</td>
            </ng-container>

            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{ 'GENERAL.FIELD.ACTIVE' | translate }}</th>
                <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs (click)="$event.stopPropagation()">
                    <mat-slide-toggle [checked]="row.active" (change)="setActive(row.id,$event)"></mat-slide-toggle>
                </td>
            </ng-container>
            <!-- Buttons & Toolbar-->
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef disableClear style="padding-right: 8px">
                    <!-- Toolbar -->
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <span class="example-spacer"></span>
                        <button mat-mini-fab  [routerLink]="['/user/info']" matTooltip="{{ 'BANK_ACCOUNT.TITLE.NEW' | translate }}">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </th>
                <!-- Buttons -->
                <td mat-cell *matCellDef="let row" style="display: table-cell; padding-right: 4px; width: 210px"
                    (click)="$event.stopPropagation()">
                    <!-- Not Mobile -->
                    <div fxHide fxShow.gt-sm fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button color="accent" style="margin-right: 4px;" [routerLink]="['/user/info/', row.id]">
                            <mat-icon>edit</mat-icon>
                            <span translate>GENERAL.BUTTON.EDIT</span>
                        </button>
                        <button mat-button color="warn" confirm [confirm_title]="'GENERAL.TITLE.CONFIRM_DIALOG' | translate"
                            [confirm_message]="'GENERAL.MESSAGE.CONFIRM.DELETE' | translate: { item: row.name }"
                            style="margin-right: 4px" (confirm_yes_event)="doDelete(row)">
                            <mat-icon>delete</mat-icon>
                            <span translate>GENERAL.BUTTON.DELETE</span>
                        </button>
                    </div>
                    <!-- Mobile -->
                    <div fxShow.lt-md fxHide fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item color="accent" style="margin-right: 4px;" [routerLink]="['/user/info/', row.id]">
                                <mat-icon>edit</mat-icon>
                                <span translate>GENERAL.BUTTON.EDIT</span>
                            </button>
                            <button mat-menu-item color="warn" confirm [confirm_title]="'GENERAL.TITLE.CONFIRM_DIALOG' | translate"
                                [confirm_message]="'GENERAL.MESSAGE.CONFIRM.DELETE' | translate: { item: row.name }"
                                style="margin-right: 4px" (confirm_yes_event)="doDelete(row)">
                                <mat-icon>delete</mat-icon>
                                <span translate>GENERAL.BUTTON.DELETE</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user/info/', row.id]"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250]" [length]="resultsLength" [pageSize]="10" class="mat-paginator-sticky"></mat-paginator>
    </mat-card>
</mat-card>