<mat-card fxLayout="column" fxLayoutGap="8px" class="example-container" fxFlexFill>
  <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="flex-end" fxLayoutGap="8px" class="search-container">
    <mat-form-field class="control-full-margin">
      <input matInput [(ngModel)]="searchDTO.orderNumber" placeholder="Номер заказа" (keydown.enter)="doSearch()" />
    </mat-form-field>
    <mat-form-field class="control-full-margin">
      <input matInput [(ngModel)]="searchDTO.phone" placeholder="Телефон" (keydown.enter)="doSearch()" />
    </mat-form-field>
    <mat-form-field class="control-full-margin">
      <mat-select placeholder="Статус" [(ngModel)]="searchDTO.status" (ngModelChange)="doSearch()">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let key of orderStatusKeys" [value]="key">
          {{ OrderStatus[key] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="control-full"
      style="padding-top: 16px; margin-bottom: 16px;"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button mat-raised-button color="accent" (click)="doSearch()">
        <mat-icon>search</mat-icon>
        <span>Поиск</span>
      </button>
    </div>
  </div>
  <!-- Table -->
  <mat-card class="example-full-width full-size example-container-grid mat-elevation-z8 example-table">
    <table mat-table [dataSource]="dataSource" class="example-table" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? onSelectAll($event) : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? onSelectionChange(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- No. Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ paginator.pageSize * paginator.pageIndex + i + 1 }}</td>
      </ng-container>
      <!-- Order Name Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер заказа</th>
        <td mat-cell *matCellDef="let row">{{ row.orderNumber ? row.orderNumber : '' }}</td>
      </ng-container>
      <!-- Country Column -->
      <ng-container matColumnDef="estimateDeliveryTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Время доставки</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
          {{ row.orderTimeRange ? (row.orderTimeRange.start + ' - ' + row.orderTimeRange.end) : '' }}
        </td>
      </ng-container>
      <!-- City Column -->
      <ng-container matColumnDef="deliveryAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Адрес доставки</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{ getDeliveryAddress(row.deliveryAddress) }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Номер телефона</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{ row.user ? row.user.phone : '' }}</td>
      </ng-container>
      <ng-container matColumnDef="totalQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Количество</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{ row.totalQuantity ? row.totalQuantity : '' }}</td>
      </ng-container>
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Сумма</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{ row.totalPrice ? row.totalPrice : '' }}</td>
      </ng-container>
      <ng-container matColumnDef="manufactureCancel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center" [fxHide]="!isAdmin">
          Man. canceled?
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: center" [fxHide]="!isAdmin">
          <mat-icon *ngIf="row.manufactureCancel" class="warn" style="text-align: center">done</mat-icon>
          <mat-icon *ngIf="!row.manufactureCancel" style="text-align: center">close</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Статус</th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>{{ row.status ? OrderStatus[row.status] : '' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100, 250]"
      [length]="resultsLength"
      [pageSize]="10"
      class="mat-paginator-sticky"
    ></mat-paginator>
  </mat-card>
</mat-card>
